* {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

strong {
    color: rgb(199, 136, 19);
}

ul {
    list-style-type: none;
}

.dish {
    color: rgb(199, 136, 19);
    font-size: 40px;
    margin: 0;
}

.go-back {
    font-size: xx-large;
    text-decoration: none;
    background-color: rgb(199, 136, 19);
    padding: 5px;
    border-radius: 12px;
}