* {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.main-container {
  padding-top: 30px;
  text-align: center;
  background-color: rgb(195, 166, 103);
  width: 500px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.title {
  background-color: bisque;
  color: rgb(75, 57, 24);
  border: 9px double rgb(208, 157, 112);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
  width: 300px;
  border-radius: 12px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px;
}

li {
  padding: 2px 0px;
}


.link-container {
  border: 9px double rgb(208, 157, 112);
  width: 300px;
  margin: 0 auto;
  background-color: bisque;
  border-radius: 15px;
  padding: 0%;
  box-sizing: border-box;
}

.odin-logo {
  margin: 0px auto;
  border-radius: 15px;
  box-sizing: border-box;
}

.link-container a {
  font-size: x-large;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(75, 57, 24);
}

a:active {
  color: #fafafa;
  font-weight: bold;
}

.link-container a:hover {
  background-color: rgba(247, 143, 8, 0.5);
}
